body {
    margin: 0;
    font-family: sans-serif;
}

/* Navbar CSS */
.nav {
    background-color: skyblue;
    padding: 10px;
}

.nav .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav a {
    color: black;
    text-decoration: none;
}

.nav>.nav-list img {
    width: 100px;
}

.nav .options {
    list-style: none;
    margin: 0 10px;
    /* flex: 1; */
    text-align: end;
}

.nav .options:nth-of-type(2) {
    flex: 1;
}

.nav .options input {
    width: 80%;
    height: 30px;

}

.nav .options button {
    height: 35px;
}


/* index.html */
.products {
    display: flex;
    margin-top: 20px;
}

.product {
    width: 25%;
    margin: 5px;
    padding: 5px;
}

.product .p-img {
    max-width: 70%;
    max-height: 70%;
    height: 300px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.product div {
    margin: 5px 0;
}

.p-name,
.price {
    font-size: 1.3rem;
}

.crossed-price {
    text-decoration: line-through;
    color: gray;
}

/* Cart.html */
.cart {
    display: flex;
    background-color: rgb(232, 232, 232);
    padding: 10px;
}

.items {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
}

.cart-item {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.c-img {
    height: 200px;
    width: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 10px;
}

.c-details {
    flex: 3;
}

.c-details div {
    margin-bottom: 5px;
}

.price-total {
    text-align: right;
    font-size: 1.3rem;
}

.total {
    font-weight: bold;
}

.total-con {
    background-color: white;
    width: 20%;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.total-con div {
    font-size: 1.3rem;
    margin: 10px 0;
}

.total-con a {
    background-color: rgb(255, 208, 0);
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
}


/* Checkout.html */
.checkout {
    display: flex;
    background-color: rgb(232, 232, 232);
    padding: 0 15%;
}

.checkout1 {
    width: 70%;
}

.heading {
    margin: 0;
    padding: 10px 0;
}

.delivery,
.pay,
.checkout-items {
    background-color: white;
    margin: 10px 0;
    padding: 10px;
}

.delivery-ad,
.pay-ad {
    display: flex;
    justify-content: space-between;
}

.delivery-ad button,
.pay-ad button,
.qty-con button {
    background-color: transparent;
    border: 0;
    color: rgb(34, 140, 181);
}

.delivery a,
.pay a {
    color: rgb(34, 140, 181);
    text-decoration: none;
}

.ci-con {
    display: flex;
}

.checkout-item {
    background-color: rgb(232, 232, 232);
    padding: 10px;
}

.ci1 {
    width: 50%;
}

.ci-detail1 {
    display: flex;
}

.ci-img {
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.ci-d {
    margin: 0 10px;
}

.ci-d div {
    margin-bottom: 10px;
}

.ci-d .p-name {
    font-size: 1rem;
}

.ci2 {
    padding: 0 10px;
}

.checkout2 {
    margin: 10px;
    width: 30%;
}

.c2-con {
    width: 100%;
    background-color: white;
}

.checkout2 table {
    font-size: 0.9rem;
}

.right {
    text-align: right;
}

table tr:nth-of-type(6) {
    font-weight: bold;
    font-size: 1.1rem;
}